<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="mediaplayer audio {configuration.orientation}" style="{f:if(condition: configuration.maxWidth, then: 'max-width: {configuration.maxWidth};')}">
    <audio id="audio-mediaplayer-{uid}-{groupIndex}-{index}" preload="metadata">
        <f:translate key="tx_auxiliawebmediaplayer_domain_model_mediaitem.browser_support"/>
    </audio>

    <div class="mediaplayer-player-wrapper">
        <div class="mediaplayer-cover">
            <div class="mediaplyer-current-information">
                <span class="mediaplayer-current-title"></span>
                <span class="mediaplayer-current-interpreter"></span>
                <span class="mediaplayer-current-release-date"></span>
            </div>
            <div class="mediaplayer-current-cover-image mediaplayer-hide-element"
                 data-mediaplayer-hide-cover="{configuration.hideCover}">
                <img height="150" width="150"/>
            </div>
        </div>

        <div class="mediaplayer-progress">
            <div class="mediaplayer-timer-container">
                <span class="mediaplayer-current-time">00:00</span>
                <span class="mediaplayer-duration">00:00</span>
            </div>
            <div class="mediaplayer-progress-container">
                <span class="mediaplayer-progress-left"></span>
                <span class="mediaplayer-progress-right"></span>
                <input class="mediaplayer-progressbar" type="range" min="0" max="100" value="0" step="any">
            </div>
        </div>

        <div class="mediaplayer-controls">
            <button class="mediaplayer-rewind btn" type="button"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.rewind')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.rewind')}">
            </button>
            <button class="mediaplayer-previous btn" type="button"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.previous')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.previous')}">
            </button>
            <button class="mediaplayer-play btn" type="button"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.play')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.play')}">
            </button>
            <button class="mediaplayer-pause btn mediaplayer-hide-element"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.pause')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.pause')}">
            </button>
            <button class="mediaplayer-next btn" type="button"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.next')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.next')}">
            </button>
            <button class="mediaplayer-fast-forward btn" type="button"
                    title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.fast_forward')}"
                    aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.fast_forward')}">
            </button>
        </div>
    </div>


    <ul class="mediaplayer-playlist {f:if(condition: configuration.hidePlaylist, then: 'mediaplayer-hide-playlist')}" id="mediaplayer-playlist-{uid}-{index}">
        <f:if condition="{mediaitems}">
            <f:then>
                <f:for as="mediaitem" each="{mediaitems}" iteration="iterator">
                    <f:render
                            arguments="{mediaitem: mediaitem, index: iterator.index, configuration: configuration}"
                            partial="Show/Mediaitem"/>
                </f:for>
            </f:then>
        </f:if>
        <f:if condition="{mediaitem}">
            <f:then>
                <f:render
                        arguments="{mediaitem: mediaitem, index: index, configuration: configuration}"
                        partial="Show/Mediaitem"/>
            </f:then>
        </f:if>
    </ul>
</div>
