<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<li class="mediaitem"
    data-mediaitem-number="{index}"
    data-mediaitem-src="{mediaitem.mediaelement.originalResource.publicUrl}"

<f:if condition="{mediaitem.cover}">
    <f:then>
        data-mediaitem-cover="{f:uri.image(image:mediaitem.cover,width:'150c',height:'150',cropVariant:'square')}"
    </f:then>
    <f:else>
        data-mediaitem-cover="{f:uri.image(src:configuration.audioCover,width:'150c',height:'150',cropVariant:'square')}"
    </f:else>
</f:if>

data-mediaitem-title="{mediaitem.title}"
data-mediaitem-interpreter="{mediaitem.interpreter}"
data-mediaitem-release-date="{mediaitem.releaseDate -> f:format.date(format:'d.m.Y')}">
<div class="mediaitem-controls">
    <button class="mediaitem-play btn" type="button" title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.play_track')}" aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.play_track')}">
    </button>
</div>
<f:if condition="!{configuration.hideCover}">
    <f:then>
        <div class="mediaitem-cover">
            <f:if condition="{mediaitem.cover}">
                <f:then>
                    <img src="{f:uri.image(image:mediaitem.cover,width:'150c',height:'150',cropVariant:'square')}"
                         height="30"
                         width="30"/>
                </f:then>
                <f:else>
                    <img src="{f:uri.image(src:configuration.audioCover,width:'150c',height:'150',cropVariant:'square')}"
                         height="30"
                         width="30"/>
                </f:else>
            </f:if>
        </div>
    </f:then>
</f:if>
<div class="mediaitem-description"

<f:if condition="!{configuration.hideCover}">
    <f:then>
        class="no-cover"
    </f:then>
</f:if>

>
    <span class="mediaitem-title">{mediaitem.title}</span>
    <span class="mediaitem-interpreter">{mediaitem.interpreter}</span>
    <span class="mediaitem-release-date">{mediaitem.releaseDate -> f:format.date(format:'d.m.Y')}</span>
</div>
<f:if condition="!{configuration.hideOptions}">
    <f:then>
        <div class="mediaitem-options">
            <ul class="mediaitem-options-list">
                <li>
                    <a download class="mediaitem-download btn"
                       href="{mediaitem.mediaelement.originalResource.publicUrl}" title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.download')}" aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.download')}">
                        Download (<span class="mediaitem-downloadsize">{mediaitem.mediaelement.originalResource.size -> f:format.bytes()}</span>)
                    </a>
                </li>
            </ul>
            <button class="mediaitem-display-options btn" type="button" title="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.show_options')}" aria-label="{f:translate(key: 'tx_auxiliawebmediaplayer_domain_model_mediaitem.show_options')}">
            </button>
        </div>
    </f:then>
</f:if>
</li>
