/* Reset */
.mediaplayer-group-list,
.single-mediaplayer-list,
.mediaplayer-list,
.mediaplayer-playlist  {
    padding-left: 0;
    list-style: none;
}

.mediaplayer-list > ul > li {
    margin-bottom: 30px;
}

/* Stuff */
.mediaplayer-hide-element {
    display: none !important;
}

/* Mediaplayer */
.mediaplayer {
    color: #fff;
    overflow: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 20px -10px #000;
    -moz-box-shadow: 0 0 20px -10px #000;
    box-shadow: 0 0 20px -10px #000;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3b65b+1,f0575c+100 */
    background: rgb(243, 182, 91); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243, 182, 91, 1) 1%, rgba(240, 87, 92, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(243, 182, 91, 1) 1%, rgba(240, 87, 92, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(243, 182, 91, 1) 1%, rgba(240, 87, 92, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3b65b', endColorstr='#f0575c', GradientType=0); /* IE6-9 */
}

.mediaplayer.horizontal {
    width: 700px;
}

.mediaplayer.horizontal .mediaplayer-player-wrapper {
    float: left;
    width: 400px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.mediaplayer-current-cover-image {
    text-align: center;
}

.mediaplayer-current-cover-image img {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #fff;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    -webkit-box-shadow: 0 0 20px -10px #000;
    -moz-box-shadow: 0 0 20px -10px #000;
    box-shadow: 0 0 20px -10px #000;
}

.mediaplyer-current-information {
    text-align: center;
    margin-top: 5px;
}

.mediaplayer-current-title {
    font-size: 1.2em;
    display: block;
}

.mediaplayer-current-interpreter,
.mediaplayer-current-release-date {
    font-size: 0.8em;
    display: block;
}

.mediaplayer-timer-container {
    overflow: auto;
}

.mediaplayer-current-time {
    padding: 0 10px;
    display: inline-block;
}

.mediaplayer-duration {
    padding: 0 10px;
    display: inline-block;
    float: right;
}

.mediaplayer-controls {
    text-align: center;
    margin: 5px 0 15px;
}

.mediaplayer-controls button,
.mediaitem-controls button,
.mediaitem-options button,
.mediaitem-options-list a {
    height: 40px;
    width: 40px;
    margin: 0 7px;
    background-color: transparent;
    background-size: contain;
    border: none;
    padding: 0;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.mediaplayer-controls button:hover,
.mediaitem-controls button:hover,
.mediaitem-options button:hover {
    background-color: transparent;
}

.mediaplayer-controls .mediaplayer-previous {
    background-image: url(../Icons/previous.png);
}

.mediaplayer-controls .mediaplayer-previous:hover,
.mediaplayer-controls .mediaplayer-previous:focus {
    background-image: url(../Icons/previous-hover.png);
}

.mediaplayer-controls .mediaplayer-play,
.mediaitem-controls .mediaitem-play {
    background-image: url(../Icons/play.png);
}

.mediaplayer-controls .mediaplayer-play:hover,
.mediaplayer-controls .mediaplayer-play:focus,
.mediaitem-controls .mediaitem-play:hover,
.mediaitem-controls .mediaitem-play:focus {
    background-image: url(../Icons/play-hover.png);
}

.mediaitem-controls .mediaitem-play {
    margin-top: 15px;
}

.mediaplayer-controls .mediaplayer-pause {
    background-image: url(../Icons/pause.png);
}

.mediaplayer-controls .mediaplayer-pause:hover,
.mediaplayer-controls .mediaplayer-pause:focus {
    background-image: url(../Icons/pause-hover.png);
}

.mediaplayer-controls .mediaplayer-next {
    background-image: url(../Icons/next.png);
}

.mediaplayer-controls .mediaplayer-next:hover,
.mediaplayer-controls .mediaplayer-next:focus {
    background-image: url(../Icons/next-hover.png);
}

.mediaplayer-controls .mediaplayer-rewind {
    background-image: url(../Icons/rewind.png);
}

.mediaplayer-controls .mediaplayer-rewind:hover,
.mediaplayer-controls .mediaplayer-rewind:focus {
    background-image: url(../Icons/rewind-hover.png);
}

.mediaplayer-controls .mediaplayer-fast-forward {
    background-image: url(../Icons/fast-forward.png);
}

.mediaplayer-controls .mediaplayer-fast-forward:hover,
.mediaplayer-controls .mediaplayer-fast-forward:focus {
    background-image: url(../Icons/fast-forward-hover.png);
}

.mediaplayer-playlist.mediaplayer-hide-playlist {
    display: none;
}

.mediaitem-options .mediaitem-display-options {
    background-image: url(../Icons/menu.png);
    padding: 0;
    margin: 15px 5px 0 0;
    height: 30px;
    width: 15px;
    float: right;
}

.mediaitem-options .mediaitem-display-options:hover,
.mediaitem-options .mediaitem-display-options:focus,
.mediaitem-options .mediaitem-display-options.mediaitem-options-active {
    background-image: url(../Icons/menu-hover.png);
}

.mediaitem-options .mediaitem-download,
.mediaitem-options .mediaitem-download:hover,
.mediaitem-options .mediaitem-download:focus {
    background-image: url(../Icons/download.png);
    color: #fff;
}

.mediaitem {
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 10px 0;
}

.mediaitem-controls {
    float: left;
    width: 15%;
    overflow: hidden;
    text-align: center;
}

.mediaitem-controls button {
    height: 30px;
    width: 30px;
    margin: 0;
}

.mediaitem-cover {
    width: 13%;
    float: left;
    padding-top: 15px;
}

.mediaitem-cover.mediaitem-hide-cover {
    visibility: hidden;
}

.mediaitem-description {
    float: left;
    width: 60%;
    overflow: hidden;
}

.mediaitem-description.no-cover {
    width: 75%
}

.mediaitem-description.mediaitem-hide-description {
    visibility: hidden;
}

.mediaitem-title,
.mediaitem-interpreter,
.mediaitem-release-date {
    font-size: 0.8em;
    display: block;
}

.mediaitem-options {
    float: right;
    width: 10%;
}

.mediaitem-options.mediaitem-options-visible {
    display: block;
    width: 85%;
    position: absolute;
    right: 0;
}

.mediaitem-options-list li {
    margin-top: 15px;
    margin-right: 15px;
}

.mediaitem-options.mediaitem-options-visible .mediaitem-options-list {
    display: block;
}

.mediaitem-options-list {
    float: left;
    display: none;
}

.mediaitem-options-list a {
    height: 30px;
    width: auto;
    padding-top: 5px;
    padding-left: 35px;
    margin: 0;

    font-size: 0.8em;
    font-weight: bold;
    color: #fff;

    background-position: left;
    background-repeat: no-repeat;
}

/* Progressbar */
.mediaplayer-progress-container {
    width: 100%; /* Width of the outside container */
    height: 35px;
}

/* The slider itself */
.mediaplayer-progressbar {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    background: #fff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.mediaplayer-progressbar:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.mediaplayer-progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.mediaplayer-progressbar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
