<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="content">
    <f:if condition="{mediaitems}">
        <f:then>
            <div class="mediaplayer-group-list-container">
                <ul class="mediaplayer-group-list">
                    <f:for as="mediaitemGroup" each="{mediaitems}" iteration="groupIterator" key="key">
                        <li class="mediaplayer-group-list-item">
                            <f:if condition="{configuration.groupBy} != 'noGrouping' && !{configuration.hideGroupHeadlines}">
                                <f:then>
                                    <h3>
                                        <f:if condition="{configuration.groupBy} == 'releaseDateAsc' OR {configuration.groupBy} == 'releaseDateDesc'">
                                            <f:then>
                                                {key -> f:format.date(format:'d.m.Y')}
                                            </f:then>
                                        </f:if>
                                        <f:if condition="{configuration.groupBy} == 'releaseDateYearAsc' OR {configuration.groupBy} == 'releaseDateYearDesc'">
                                            <f:then>
                                                {key}
                                            </f:then>
                                        </f:if>
                                        <f:if condition="{configuration.groupBy} == 'releaseDateYearAndMonthAsc' OR {configuration.groupBy} == 'releaseDateYearAndMonthDesc'">
                                            <f:then>
                                                {key}
                                            </f:then>
                                        </f:if>
                                        <f:if condition="{configuration.groupBy} == 'interpreterAsc' OR {configuration.groupBy} == 'interpreterDesc'">
                                            <f:then>
                                                {key}
                                            </f:then>
                                        </f:if>
                                    </h3>
                                </f:then>
                            </f:if>
                            <f:if condition="{configuration.oneMediaplayerPerMediaitem}">
                                <f:then>
                                    <div class="mediaplayer-list-container">
                                        <ul class="mediaplayer-list">
                                            <f:for as="mediaitem" each="{mediaitemGroup}" iteration="iterator">
                                                <li class="mediaplayer-list-item">
                                                    <f:if condition="{configuration.mediatype} == 'audio'">
                                                        <f:then>
                                                            <f:render
                                                                    arguments="{mediaitem: mediaitem, groupIndex: groupIterator, index: iterator.index, uid: uid, configuration: configuration}"
                                                                    partial="Show/Audioplayer"/>
                                                        </f:then>
                                                        <f:else>
                                                            <f:render
                                                                    arguments="{mediaitem: mediaitem, groupIndex: groupIterator, index: iterator.index, uid: uid, configuration: configuration}"
                                                                    partial="Show/Videoplayer"/>
                                                        </f:else>
                                                    </f:if>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </f:then>
                                <f:else>
                                    <div class="single-mediaplayer-list-container">
                                        <ul class="single-mediaplayer-list">
                                            <li class="single-mediaplayer-list-item">
                                                <f:if condition="{configuration.mediatype} == 'audio'">
                                                    <f:then>
                                                        <f:render
                                                                arguments="{mediaitems: mediaitemGroup, groupIndex: groupIterator.index, index: 0, uid: uid, configuration: configuration}"
                                                                partial="Show/Audioplayer"/>
                                                    </f:then>
                                                    <f:else>
                                                        <f:render
                                                                arguments="{mediaitem: mediaitemGroup, groupIndex: groupIterator.index, index: 0, uid: uid, configuration: configuration}"
                                                                partial="Show/Videoplayer"/>
                                                    </f:else>
                                                </f:if>
                                            </li>
                                        </ul>
                                    </div>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:then>
        <f:else>
            <div class="no-mediaitems-found">
                <f:translate key="tx_auxiliawebmediaplayer_domain_model_mediaitem.no_mediaitems_found"/>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
